body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
}

header {
    background-color: #005f73;
    color: white;
    padding: 20px;
    text-align: center;
}

nav button {
    background-color: #0a9396;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

nav button:hover {
    background-color: #94d2bd;
}

main {
    padding: 20px;
}

.pagina {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.pagina img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

h2, h3 {
    color: #005f73;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.btn-voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    background-color: #0a9396;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  }
  
  .btn-voltar:hover {
    background-color: #11787a;
    transform: translateY(-1px);
  }